<!DOCTYPE html>
<html ng-app="oa" lang="en">
<head>
    <title>Nifty Trader</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="css/angular-datepicker.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="css/apps.css" media="all">

</head>
<body>
  <div class="container-fluid oa-wrapper">
    <div ng-controller="OaMainCtrl">
      <div class="row" style="margin-bottom: 20px;">
      </div>
      <div class="row">
        <div class="col-sm-1 side-nav"  style="width: 70px; padding-top: 100px; margin-left: 3px; padding-left: 2px;">
          <nav>
            <div>
              <a class="active" href="#/homePage"  ng-click="switchTemplate('optionchain.html')">
                <i class="icon-font sidenav home"></i>Home
              </a>
              <a href="#"><i class="icon-font sidenav portfolio"  ng-click="switchTemplate('positions.html')"></i>Portfolio</a>
              <a href="#"><i class="icon-font sidenav analyze" ng-click="switchTemplate('analyze.html')"></i>Analyze</a>
              <a href="#"><i class="icon-font sidenav activity" ng-click="switchTemplate('algo.html')"></i>Algorithm</a>
              <a href="#"><i class="icon-font sidenav activity" ng-click="switchTemplate('data.html')"></i>Data</a>
              <a href="#"><i class="icon-font sidenav activity" ng-click="switchTemplate('fii.html')"></i>Fii</a>
            </div>
          </nav>
        </div>
        <div class="col-lg-11">
          <ng-include src="template"></ng-include>
        </div>
      </div>
    </div>
  </div>
  <script src="js/jquery-2.2.0.min.js"></script>
  <script type="text/javascript" src="js/angular.js"></script>
  <script type="text/javascript" src="js/angular-websocket.js"></script>
  <script type="text/javascript" src="js/apps.js"></script>
  <script type="text/javascript" src="js/amcharts.js"></script>
  <script type="text/javascript" src="js/amstock.js"></script>
  <script type="text/javascript" src="js/serial.js"></script>
  <script type="text/javascript" src="js/liveSearch.js"></script>
  <!-- <script type="text/javascript" src="js/moment.js"></script> -->
  <script type="text/javascript" src="js/ui-bootstrap-1.2.5.min.js"></script>
  <script type="text/javascript" src="js/amChartsDirective.js"></script>
</body>
</html>
